*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #153448;
}

.calculator {
    width: 22rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1.3rem;
    border-radius: 0.3rem;
    background-color: #3C5B6F;
    box-shadow: rgba(38, 46, 46, 0.671) 3px 3px 5px;
}

.display {
    margin-bottom: 1rem;
    padding: 2rem 1rem;
    height: 7em;
    border: none;
    border-radius: 0.3rem;
    box-shadow: inset rgba(38, 46, 46, 0.671) -1px 2px 1px;
}

.calc-row {
    display: flex;
    justify-content: space-between;
}

button:hover {
    background-color: #cbd3d8;
}
button:active {
    background-color: #ffffff;
}
.special-btn {
    background-color: #568aac;
}
.outer-btn {
    background-color: #9DB6C7;
}
.special-btn:hover {
    background-color: #437597;
}
.special-btn:active {
    background-color: #76a8ca;
}
.outer-btn:hover {
    background-color: #7a97aa;
}
.outer-btn:active {
    background-color: #b3cee0;
}

.equals-btn {
    width: 48.5%;
}

button {
    border: none;
    border-radius: 0.3rem;
    width: 23%;
    height: 3.5em;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: "roboto-mono", monospace;
}

